body {
    background-color: #1a1a1d;
    margin: 0;
    overflow-x: hidden;

}

:root {
    --cor-primaria: #005fb7;
    --cor-detalhe: #1200b7;
    --cor-sombra: rgba(230, 255, 4, 0.77);
}

h1 {
    font-size: 45px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #d3d3d3;
    text-shadow: 2px 2px 4px var(--cor-detalhe);
}

h2 {
    font-size: 35px;
    text-align: center;
    color: #d3d3d3;
    margin-top: 50px;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: #d3d3d3;
    margin-top: 30px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 5%;
    background-color: #0D0D0D;
    height: 60px;
    border-bottom: 1px solid var(--cor-detalhe);
}

.nav-links {
    position: absolute;
    left: 25%;
    display: flex;
    list-style: none;
    gap: 110%;
    font-size: 17px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}


.navbar img {
    height: 30px;
    width: 120px;
    margin-left: 0px;
}

a {
    text-decoration: none;
    color: #D10500;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #8B0000;
}

p {
    font-size: 25px;
    color: #FFFFFF;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    line-height: 1.5;
}


.biografia-card {
    background: #1a1a1a;
    border-left: 3px solid var(--cor-detalhe);
    border-top: 3px solid var(--cor-detalhe);
    border-bottom: 3px solid var(--cor-sombra);
    border-right: 3px solid var(--cor-sombra);
    padding: 25px;
    margin: 30px auto;
    max-width: 800px;
    box-shadow: 0 0 10px #000000;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
}


.biografia-card h2, 
.biografia-card h3 {
    text-align: center;
    display: block;
    width: 100%;
}



.biografia-card p,
.biografia-card ul {
    color: #ccc;
    line-height: 1.6;
    font-size: 22px;
    text-align: left;
    flex: 1;
}


.biografia-card li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    color: #bed2fc;
    line-height: 1.5;
    font-size: 19px;
}

.biografia-card img {
    display: block;
    width: 80%;
    border-radius: 9px;
    margin: 0 auto;
    border: 1px solid var(--cor-detalhe);
}


.piloto_estatisticas {
    width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background: #121212;
    border: 1px solid #333;
    border-radius: 8px;
    border-spacing: 0;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    box-shadow: 10px 10px 10px var(--cor-primaria);
}


.piloto_estatisticas th {
    background-color: var(--cor-detalhe);
    color: white;
    font-family: 'Russo One', sans-serif;
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.piloto_estatisticas td {
    text-align: center;
    padding: 25px 10px;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);

}


.piloto_estatisticas img {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 0px;

}

.piloto_estatisticas h2{
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 4px var(--cor-primaria);
    font-size: 45px;
    
}

.linha{
    width: 80%;
    height: 4px;
    background-color: var(--cor-primaria);
    margin: 0 auto 40px auto;
}


.secao-final {
    display: flex;
    background: #141414;
    border: 2px solid var(--cor-primaria);
    border-radius: 15px;
    padding: 40px;
    margin: 30px auto;
    max-width: 1000px;
    text-align: center;
    list-style: none;
}


.card-final {
    background: #1a1a1a;
    justify-content: center;
    border-top: 5px solid var(--cor-primaria);
    border-radius: 8px;
    text-align: center;
}

.card-final ul {
    padding: 30px;
    margin: 20px 0;
    list-style: none;
}

.card-final p {
    text-align: left;
    font-size: 24px;
    line-height: 1.6;
}

.card-final h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.card-final img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-final li {
    text-align: left;
    margin-bottom: 15px;
    font-size: 21px;
    list-style: none;
    color: var(--cor-primaria);
}

.voltar {
    display: block;
    font-size: 18px;
    width: 100%;
    color: var(--cor-primaria);
    text-align: center;
    margin: 40px auto;
}


.mini_card {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    background: #111;
    padding: 20px;
    border-radius: 15px;
    border-left: 5px solid var(--cor-primaria);
}

.mini_card_texto {
    flex: 1;
    text-align: left;
}

.mini_card img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
