body {
  background-color: #1a1a1d;
  ;
  /* O fundo não rola junto com os cards */
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* Garante que nada escape pela lateral */

}

h1 {
  text-align: center;
  /* Centraliza o texto do título */
  width: 100%;
  /* Garante que ele ocupe toda a largura para poder centralizar */
  margin-top: 20px;
  /* Adiciona um espaço opcional entre o logo e o título */
  color: #D10500;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  /* Manda o logo pra um lado e menu pro outro */
  align-items: center;
  /* Alinha os dois no meio da altura da barra */
  padding: 10px 5%;
  background-color: #0D0D0D;
  /* Ou a cor que você preferir */
  height: 60px;
  border-bottom: 1px solid #D10500;
}

.nav-links {
  position: absolute;
  left: 25%;
  display: flex;
  list-style: none;
  gap: 110%;
  font-size: 17px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
}


.navbar img {
  height: 30px;
  width: 120px;
  margin-left: 0px;
  /* Ajuste o tamanho do logo conforme necessário */
}

.inicio {
  background-image: url(../imagens/f1_banner_carro_redbull.png);
  background-size: cover;
  background-position: right bottom;
  min-height: 75vh;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  /* Centraliza ambos horizontalmente */
  border-bottom: 1px solid #D10500;
  justify-content: center;
}


.inicio_text {
  max-width: 750px;
  /* O texto fica centralizado em um bloco legível */
  padding: 0 20px;
  /* Evita que o texto encoste nas bordas em telas pequenas */
  line-height: 1.5;
  border-left: 4px solid #D10500;
}

.citacao {
  font-style: italic;
  font-size: 27px;
  line-height: 1.2;
  margin-top: 60px;
  margin-bottom: -10px;
  border-radius: 12px;
  color: #f1f1f1;

}

.senna {
  font-size: 19px;
  font-weight: bold;
  margin-top: 15px;
}


.mini-titulo {
  position: relative;
  /* Isso faz a imagem ficar presa aqui dentro */
  background-color: #0D0D0D;
  padding: 30px 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.bandeira-mini-titulo {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.01;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mini-titulo h2 {
  position: relative; 
  z-index: 2; /* Fica acima da imagem (que é z-index 1) */
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  /* Sempre em maiúsculas */
  transform: scaleX(1.2);
  /* Isso "estica" a fonte para os lados */
  color: #ffffff;
  display: block;
  margin: 0;
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.616);
}


.linha-chegada {
  width: 100%;
  height: 4px;
  background-color: #D10500;
  /* De vermelho para um vermelho mais escuro */
  margin-top: 10px;
}

.card-lista {
  display: flex;
  /* Ativa o modo "lado a lado" */
  flex-wrap: wrap;
  /* Permite que os itens quebrem para a próxima linha */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  gap: 15px;
  /* Espaçamento entre os itens */
  list-style: none;
  /* Tira as bolinhas da lista */
  padding: 0;
  padding-left: 0;
}

.card-lista li {
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D0D0D;
  border: 1px solid #090085ec;
  width: 90%;
  max-width: 450px;
  /* Impede que o card fique largo demais */
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  /* Cantos arredondados modernos */
  list-style: none;
}

.card-lista li ul li {
  margin-top: 10px;
  /* Dá um espaço entre o texto e a lista interna */
  padding-left: 20px;
  /* Indenta a lista interna para ficar mais organizada */
  border: none;
  border-bottom: 1px solid #090085ec;
}


li .Foto-piloto {
  width: 100%;
  /* A imagem vai ocupar toda a largura interna do card */
  height: 300px;
  /* Mantém a proporção da foto */
  object-fit: cover;
  /* Corta a imagem sem distorcer para preencher o espaço */
  border-radius: 8px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #D10500;
  /* Vermelho oficial da F1 */
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #8B0000;
  /* Um vermelho um pouco mais claro */
}

footer {
  background-color: #0D0D0D;
  color: #d3d3d3;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid #D10500;
}

html {
  scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}